<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="DR_Gallery::gallery">
                        <resource id="DR_Gallery::gallery_gallery"
                                  title="Gallery"
                                  sortOrder="95">
                        </resource>
                        <resource id="DR_Gallery::gallery_image"
                                  title="Image"
                                  sortOrder="100">
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>