<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DR_Gallery::gallery" title="Gallery" module="DR_Gallery" sortOrder="0" parent="Magento_Backend::content" resource="DR_Gallery::gallery"/>
        <add id="DR_Gallery::gallery_gallery" title="Galleries" module="DR_Gallery" sortOrder="0" parent="DR_Gallery::gallery" action="gallery/gallery" resource="DR_Gallery::gallery_gallery"/>
        <add id="DR_Gallery::gallery_image" title="Images" module="DR_Gallery" sortOrder="5" parent="DR_Gallery::gallery" action="gallery/image" resource="DR_Gallery::gallery_image"/>
    </menu>
</config>
